body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
  font-family: 'Times New Roman', Times, serif;
}


.gridContainer {
  display: grid;
  width: 1000px;
  background: #f9fffb;
  border: 1px solid #eaf0ec;
  border-radius: 5px;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 20% 10% 15% 35% 20%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 5%;
  padding-bottom: 5%;
}

.profilePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.profilePicture img {
  height: 70%;
}

.title {
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title h1 {
  margin: 0;
  color: rgb(0, 97, 97);
}

.contact {
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: darkcyan;
}

.contact h1 {
  margin: 0;
  color: rgb(255, 255, 255);
  padding-bottom: .5em;
}

.contact span {
  width: 60%;
  border-bottom: 4px solid rgb(1, 82, 82);
}

.contactInfo {
  grid-row: 4/5;
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: darkcyan;
  text-align: center;
  color: white;
}

.icon {
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 20%;
  padding: 5px;
  margin: 10px 0;
}

.linkedin {
  grid-row: 5/6;
  grid-column: 1/2;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: darkcyan;
  text-align: center;
  padding: 20px;

}

.linkedin a {
  text-decoration: none;
  color: white;
}

.name {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:  rgb(1, 53, 53);
  border-bottom: 2px solid  darkcyan;
  margin-right: 10%;
  margin-left: 5%;
}

.name h1 {
  margin: 0;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 0 5%;
}
.expertise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 0 5%;
}

.expertise h4 {
  color: grey;
}
.expertise div {
  width: 100%;
  border-bottom: 2px solid rgb(1, 82, 82);
}

.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 0 5%;
}

.history ul {
  color: grey;
}

.history li {
  padding: 2%;
}

.history div {
  width: 100%;
  border-bottom: 2px solid rgb(1, 82, 82);
}

#phoneText {
  visibility: visible;
  cursor: pointer;
}

.fade-in-sara { 
  animation: fadeInSara 5s
}

.fade-in-parker {
  animation: fadeInParker 7s;
}

@keyframes fadeInSara {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeInParker {
  from {
    opacity: 0;
  }

  to {
    opacity: 2;
  }
}