@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
  font-family: 'Abril Fatface', cursive;
  font-size: 16px;
  background-color: whitesmoke;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(34, 34, 34);
}

a::before {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 700ms;
}

a:hover::before{
  width: 100%;
}

main div {
  z-index: 4;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  top: 0;
  opacity: 1;
  z-index: 1000;
}

header h1 {
  font-size: 3em;
  color: rgb(34, 34, 34);
  margin-left: 7vw;
}

header h1 span {
  text-decoration: overline;
  font-size: .6em;
}

.navbar {
  width: 100%;
  display: flex;
  text-align: right;
  justify-content: center;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: rgb(36, 36, 36);
  font-size: 1vw;
  margin-right: 10vw;
}

.navbar a span {
  font-size: .7em;
  margin-right: 6px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index:1;
  position: relative;

}

.video-container #landing-video {
  width: 85vw;
  border: 1px solid rgba(6, 21, 70, 0.63);
}

.video-container h1 {
  z-index: 3;
  color: white;
  position: absolute;
  font-size: 10vw;
  background-color: rgba(250, 250, 250, 0.288);
  padding: 0px 5vw;
}

.video-container h1 span {
  font-size: .6em;
  text-decoration: overline;
}

.section-container div {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.section-container .ttt-image{
  background-image: url("/images/tic-tac-toe1.png");
  background-position: center;
  background-size: cover;
  width: 40vw;
  box-shadow: 40px 50px 0px rgb(145, 19, 19);
}

.section-container .dbk-image{
  background-image: url("/images/dbk1.png");
  background-position: center;
  background-size: cover;
  width: 40vw;
  box-shadow: 40px 50px 0px rgb(31, 31, 71);
}

.section-container .timer-image{
  background-image: url("/images/timer.png");
  background-position: center;
  background-size: cover;
  width: 40vw;
  box-shadow: 40px 50px 0px rgb(59, 10, 59);
}


.section-container article {
  width: 60vw;
}
.section-container h1{
  font-size: 2em;
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-container h2 {
  font-size: 1.5em;
  margin: 80px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@media (max-width: 1200px) {

  .section-container h1{
    font-size: 1.5em;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .section-container h2 {
    font-size: 1em;
    margin: 80px;
  }

}

@media (max-width: 800px) {

  .section-container div {
    display: flex;
    flex-direction: column;
    margin: 30px;
    justify-content: center;
    align-items: center;
  }

  .section-container div:nth-child(2) {
    flex-direction: column-reverse;

  }

  .section-container article {
    width: 100%;
  }

  .section-container .ttt-image{
    background-image: url("/images/tic-tac-toe1.png");
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 40vh;
    box-shadow: 40px 50px 0px rgb(145, 19, 19);
  }
  
  .section-container .dbk-image{
    background-image: url("/images/dbk1.png");
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 40vh;
    box-shadow: 40px 50px 0px rgb(31, 31, 71);
  }
  
  .section-container .timer-image{
    background-image: url("/images/timer.png");
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 40vh;
    box-shadow: 40px 50px 0px rgb(59, 10, 59);
  }

  .section-container h1{
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .section-container h2 {
    font-size: 1.5em;
    margin: 50px;
    text-align: center;
  }
}

@media (max-width: 5 00px) {
  .section-container h1{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .section-container h2 {
    font-size: 1em;
    margin: 0;
    text-align: center;
  }

  .section-container .ttt-image{
    background-image: url("/images/tic-tac-toe1.png");
    background-position: center;
    background-size: cover;
    width: 70%;
    height:25vh;
    box-shadow: 40px 50px 0px rgb(145, 19, 19);
  }
  
  .section-container .dbk-image{
    background-image: url("/images/dbk1.png");
    background-position: center;
    background-size: cover;
    width: 70%;
    height:25vh;
    box-shadow: 40px 50px 0px rgb(31, 31, 71);
  }
  
  .section-container .timer-image{
    background-image: url("/images/timer.png");
    background-position: center;
    background-size: cover;
    width: 70%;
    height:25vh;
    box-shadow: 40px 50px 0px rgb(59, 10, 59);
  }
}