@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

body {
  margin-top: 100px;
  padding: 0;
  position: relative;
  font-family: 'Cinzel', serif;
  font-size: 16px;
}

a:hover {
  cursor: pointer;
  opacity: .8;
}
header {
  font-size: 1.5em;
  top: 20px; 
  left: 20px;
  padding: 20px;
  color: white;
  background-color: black;
  height: 40px;
  width: 50px;
  margin: 0vh 20vw;
}

header div  {
  display: flex;
  align-items: center;
  justify-content: center;
}

header div h1 {
  font-weight: bolder;
}
nav {
  position: absolute;
  right: 20vw;
  color: black;
}

nav a {
  margin-left: 100px;
  font-size: 1em;
}
.container {
  height: 600px;
  width: auto;
  background: white;
  position: relative;
  margin-right: 100px;
  box-shadow: 100px 100px 1px black;
}

img {
  height: 100%;
  width: auto;
  z-index: 3;
  filter: saturate(3.5);
  opacity: .7;
}

.container .inner-border {
  position: absolute;
  height: 90%;
  width: 90%;
  top: 16px;
  right: 35px;
  border: 15px solid white;
  z-index: 10;
}

.opacity-overlay {
  height: 90px;
  width: 500px;
  content: "";
  background-color: black;
  opacity: .5;
  top: 350px;
  left: 300px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 4;
  filter: blur(2px);
}
.opacity-overlay2 {
  height: 100px;
  width: 500px;
  content: "";
  background-color: rgb(10, 10, 54);
  opacity: .5;
  top: 150px;
  left: 100px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 4;
  filter: blur(2px);
}
.opacity-overlay3 {
  height: 100px;
  width: 500px;
  content: "";
  background-color: rgb(51, 0, 0);
  opacity: .5;
  top: 250px;
  left: 200px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 4;
  filter: blur(2px);
}

.landing-section {
  background: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
  background-size: cover;
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-section {
  background: linear-gradient(rgb(39, 39, 39), rgb(12, 12, 12));
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4em;
}
.about-section {
  height: 100vh;
  background-image: url("about.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.about-overlay {
  background-color: white;
  height: 100vh;
  width: 100vw;
  opacity: .5;
  z-index:-1;
}

.about-section h1{
  z-index: 1000;
  color: black;
  font-size: 6em;
  position: absolute;
  top: 0vh;
  margin: 10vh 20vw 0 20vw;
}

.about-section h2 {
  font-size: 2em;
  position: absolute;
  top: 15vh;
  margin: 10vh 20vw 0 20vw;
}

.portfolio-section {
  background: linear-gradient(rgb(226, 226, 226), whitesmoke);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;  
}

.portfolio-section h1 {
  position: absolute;
  top: 10vh;
  font-size: 5em;
}